body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 100%;
}

.container-fluid {
  max-width: 1400px;
  color: rgb(170, 110, 15);
  border: 0.5px solid 495057;
}

.weather-dashbord {
  display: flex;
  background-color: #1a0b70;
  color: #ffffff;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.search-input {
  border: 2px solid #ccc;
  border-color: rgb(223, 235, 226);
  background-color: #f1f6f5;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.search-button {
  text-align: center;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.form-group {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-input {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  border: 0.2px solid #d0caca;
  border-radius: 0.3rem;
  padding: 0.375rem;
  margin: 0.525rem 0;
  border-radius: 0.5rem;
}

.input-group-append {
  margin-left: 1px;
  display: flex;
  text-align: center;
  background-color: #c9e8ec;
  border-radius: 0.5rem;
}

#today {
  background-color: #e8edf0;
  padding: 0.2rem 0.5rem;
  margin-top: 1rem;
  border: 0.5px solid 495057;
  color: rgb(12, 12, 12);
}

.weather-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(6, 6, 6, 0.1);
}
.list-group {
  padding: 1.5rem 1.25rem;
  background-color: #f1f6f5;
  border: 0 solid;
  flex-direction: column;
  border-radius: 0.3rem;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin-bottom: 5px;
}

.forecast {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
/* col-xl */
@media screen and (min-width: 1400px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
}

@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
}

@media screen and (min-width: 576px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
}
